@page "/"

<div class="container-xxl">
    <div class="bg-light p-5 rounded">
        <h1>
            Blazone
        </h1>
        <p class="lead">
            Blazone is a simple authentication module for Blazor
        </p>
    </div>
</div>
